/polyakov/tx
/tx
.txt
.exl
.exel
.xlsx
.xlx
.xls
/27-A
/EGE_Smasher
14.02/Новая папка (2)/ИН2110301_ИН2110302_var.pdf
14.02/Новая папка (2)/files/03.xlsx
14.02/Новая папка (2)/files/09.xlsx
14.02/Новая папка (2)/files/17.txt
14.02/Новая папка (2)/files/18.xlsx
14.02/Новая папка (2)/files/24.txt
14.02/Новая папка (2)/files/26.txt
14.02/Новая папка (2)/files/27-A.txt
14.02/Новая папка (2)/files/27-B.txt
14.02/Новая папка (2)/files/10/Пушкин. Капитанская дочка.docx
14.02/Новая папка (2)/files/10/Пушкин. Капитанская дочка.odt
14.02/Новая папка (2)/files/10/Пушкин. Капитанская дочка.rtf
