/polyakov/tx
/tx
.txt
.exl
.exel
.xlsx
.xlx
.xls
/27-A
/EGE_Smasher
14.02/Новая папка (2)/ИН2110301_ИН2110302_var.pdf
14.02/Новая папка (2)/files/03.xlsx
14.02/Новая папка (2)/files/09.xlsx
14.02/Новая папка (2)/files/17.txt
14.02/Новая папка (2)/files/18.xlsx
14.02/Новая папка (2)/files/24.txt
14.02/Новая папка (2)/files/26.txt
14.02/Новая папка (2)/files/27-A.txt
14.02/Новая папка (2)/files/27-B.txt
14.02/Новая папка (2)/files/10/Пушкин. Капитанская дочка.docx
14.02/Новая папка (2)/files/10/Пушкин. Капитанская дочка.odt
14.02/Новая папка (2)/files/10/Пушкин. Капитанская дочка.rtf
27.02/27/3-5.xls
27.02/27/9-0.xls
27.02/27/17-3.txt
27.02/27/18-107.xls
27.02/27/k8-12.txt
8/1.py
old12/files/.~lock.18.xlsx#
old12/files/3.xlsx
old12/files/9.xlsx
old12/files/10-1.docx
old12/files/17.txt
old12/files/18.xlsx
old12/files/24.txt
old12/files/26.txt
old12/files/26.xlsx
old12/files/27-A_1.txt
old12/files/27-B_1.txt
old13/files/2.pdf
old13/files/03.xlsx
old13/files/3.xlsx
old13/files/09 (1).xlsx
old13/files/09.xlsx
old13/files/9.xlsx
old13/files/10-1.docx
old13/files/17.txt
old13/files/18.xlsx
old13/files/egemathschoolvar1 (1).pdf
old13/files/Пушкин.-Капитанская-дочка.docx
old13/files/Пушкин.-Капитанская-дочка (1).docx
old13/files/Культ наследие Барышева Лазарева.pptx
old13/files/27-B.txt
old13/files/27-B_1.txt
old13/files/27-A.txt
old13/files/27-A_1.txt
old13/files/26.txt
old13/files/24.txt
old13/files/files.rar
/.idea/EGE.iml
/.idea/discord.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/06.2022/f/17.txt
/06.2022/f/24.txt
/17/f/37341.txt
/17/f/45251.txt
/24/files/24_3.txt
/24/files/27690.txt
/24/files/35482.txt
/24/files/35998.txt
/24/files/36037.txt
/24/files/37131.txt
/VAR17.06/f/24.txt
